# Python virtual environments
.venv/
.venv311/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/settings.json

# OS files
.DS_Store
Thumbs.db


# Firebase
*-firebase-adminsdk-*.json
serviceAccountKey.json